# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:

- script: |
    ls -lt /
    ls -lt $(System.DefaultWorkingDirectory)/
    ls -lt $(Build.ArtifactStagingDirectory)/

  displayName: 'ls -lt'

- download: current
  artifact: centos-php7-lamp

- script: |
    ls -lt
    ls -lt centos-php7-lamp
    cat centos-php7-lamp/share.txt
  displayName: 'Check the contents of share.txt'  

- script: |
    docker -v
    docker version -f '{{.Server.Experimental}}'
    docker-compose -v
    docker login -u $(DOCKER_ID) -p $(DOCKER_PW)
  displayName: 'prepare'

# - script: |
#     docker pull nginx:alpine
#     docker tag nginx:alpine matoba/nginx
#   displayName: 'build'

- script: |
    docker-compose build
    docker-compose up -d
  displayName: 'run'

- script: |
    curl -i http://127.0.0.1:3000/
  displayName: 'test'
