# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:

- script: |
    docker -v
    docker-compose -v
    docker login -u $(dockerId) -p $(dockerPw)
  displayName: 'prepare'

# - script: |
#     docker pull nginx:alpine
#     docker tag nginx:alpine matoba/nginx
#   displayName: 'build'

- script: |
    docker-compose build
    docker-compose up -d
  displayName: 'run'

- script: |
    curl --insecure https://127.0.0.1:3000/
  displayName: 'test'
